$logo-color: #a7996b;
$logo-color-dark: #8f8054;
$logo-color-light: #b6a771;
$white: #f1f1ee;

.kontakty-page {
	display: flex;
	justify-content: center;
	width: 100%;
	min-height: 50vh;
	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.title {
			padding-bottom: 30px;
			padding-right: 100px;
		}
		table {
			th {
				text-align: right;
				border-right: $logo-color-dark 2px solid;
			}
			th,
			td {
				padding: 10px;
			}
		}
		a {
			color: $logo-color-dark;
		}
	}
}
