$logo-color: #a7996b;
$logo-color-dark: #8f8054;
$logo-color-light: #b6a771;
$white: #f1f1ee;

.login-card {
    margin-top: 20vh;
    border: $logo-color-dark 3px solid;
    border-radius: 10px;
    display: block;
    width: 300px;
    box-sizing: border-box;
    text-decoration: none;
    h1,label {
        font-size: 30px;
        color: $white;
    }
    label {
        display: block;
        margin-top: 25px;
    }
    input {
        border: black 2px solid;
        font-size: 15px;
        width: calc(100% - 15px);
        padding: 5px;
    }
	background-color: $logo-color;
	color: $logo-color-dark;
	font-size: 16px;
	padding: 40px;
	text-align: center;
	box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    button {
        margin-top: 25px;
    }
}