$logo-color: #a7996b;
$logo-color-dark: #8f8054;
$logo-color-light: #b6a771;
$white: #f1f1ee;

header {
	background-color: $white;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	.logo-container {
		width: 200px;
		display: flex;
		margin-left: 6%;
	}
	.logo {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}
	.circle-container {
		display: flex;
		align-items: center;
		.circle {
			width: 8px;
			height: 8px;
			border-radius: 50%;
			margin: 20px;
			background-color: $white;
		}
	}
	.desktop-navbar {
		background-color: $logo-color;
		border-bottom-left-radius: 10px;
		box-sizing: border-box;
		height: 100px;
		padding: 25px;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 1030;
		ul {
			list-style-type: none;
			display: flex;
			align-items: center;
		}
	}
	nav .nav-link {
		text-decoration: none;
		color: $white;
		font-size: 24px;
		background: linear-gradient(0deg, $logo-color-dark, $logo-color-dark) no-repeat right bottom / 0
			var(--bg-h);
		transition: background-size 400ms;
		--bg-h: 100%;
		padding: 5px;
	}
	nav .nav-link:hover {
		color: $white;
		text-decoration: underline;
		background-size: 100% var(--bg-h);
		background-position-x: left;
	}
	nav img {
		height: 40px;
		margin: 0px;
		border-radius: 8px;
	}
	.nav-item:hover .instagram {
		background-color: #d6249f;
		background-image: radial-gradient(
			circle at 30% 107%,
			#fdf497 0%,
			#fdf497 5%,
			#fd5949 45%,
			#d6249f 60%,
			#285aeb 90%
		);
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
	}
	.nav-item:hover .facebook {
		background-color: #4267b2;
	}

	.mobile-navbar {
		display: none;
	}
	.nav-container {
		display: none;
	}

	.nav-button {
		cursor: pointer;
		font-size: 20px;
	}
}
@media (max-width: 1400px) {
	header {
		.desktop-navbar {
			display: none;
		}

		.mobile-navbar {
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			width: 75px;
			border-bottom-left-radius: 10px;
			height: 60px;
			background-color: $logo-color;
			color: white;
			display: flex;
			align-items: center;
			padding: 0 20px;
			z-index: 10;
			.show-navbar {
				align-items: center;
				background-color: $logo-color;
				border: none;
				border-radius: 8px;
				box-sizing: border-box;
				color: $white;
				font-size: 16px;
				padding: 0 20px;
				position: relative;
				text-align: center;
				text-decoration: none;
			}
			.nav-button {
				cursor: pointer;
				font-size: 35px;
			}
		}
		.backdrop {
			width: 100vw;
			height: 100vh;
			z-index: 2;
			position: fixed;
		}
		.logo {
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
		.circle-container {
			display: flex;
			align-items: center;
			.circle {
				width: 8px;
				height: 8px;
				border-radius: 50%;
				margin: 20px;
				background-color: $white;
			}
		}
		.logo-container {
			height: 100px;
			width: 150px;
			margin-left: 0px;
			padding: 0px;
		}
		.nav-container {
			position: fixed;
			top: 0;
			padding-top: 50px;
			display: block;
			transform: translateX(150%);
			transition: transform 0.3s ease-in-out;
			width: 75%;
			height: 100%;
			background-color: $logo-color;
			animation: slideIn 0.3s ease-in-out;
			z-index: 5;
		}
		.nav-container.open {
			transform: translateX(50%);
		}
		@keyframes slideIn {
			from {
				transform: translateX(150%);
			}
			to {
				transform: translateX(50%);
			}
		}

		.nav-list {
			list-style: none;
			padding: 20px;
		}

		.nav-item {
			margin-bottom: 30px;
			font-size: 18px;
			cursor: pointer;
			color: white;
		}

		.close-navbar {
			position: relative;
			top: 10px;
			right: -50px;
			cursor: pointer;
			color: white;
			font-size: 18px;
			z-index: 1000;
			text-decoration: none;
			font-size: 30px;
			font-weight: 900;
			padding-bottom: 20px;
		}
		.social-container {
			display: flex;
			gap: 20px;
		}
	}
}
