$logo-color: #a7996b;
$logo-color-dark: #8f8054;
$logo-color-light: #b6a771;
$white: #f1f1ee;

.title-sect {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 500px;
	.title {
		h1 {
			font-weight: 100;
			font-size: 70px;
		}
	}
	.carousel-bs {
		width: 55%;
	}
}

.deals-sect {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;

	.table-container {
		width: 100%;
		overflow-x: auto;
		margin-top: 30px;
		color: $white;

		tr {
			height: 55px;
			.corner {
				outline: white 1px solid;
				position: sticky;
				left: 0px;
			}
			td,
			th {
				min-width: 160px;
				background-color: $logo-color-light;
				color: $white;
				text-align: center;
				vertical-align: middle;
			}

			th,
			p {
				margin: 0px;
				padding: 0px;
			}
		}
		tbody {
			th {
				outline: white 1px solid;
				position: sticky;
				left: 0px;
			}
			td {
				font-size: 14px;
			}
		}

		.table-item {
			background-color: $logo-color-dark;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 8px;
			border-radius: 3px;
			height: 40px;
			p {
				text-align: center;
			}
			a {
				color: white;
				img {
					width: 10px;
					margin-bottom: 6px;
				}

				background: linear-gradient(to bottom, $logo-color-light 0%, $logo-color-light 100%);
				background-position: 0 100%;
				background-repeat: repeat-x;
				background-size: 4px 2px;
				text-decoration: none;
				transition: background-size 0.2s;
			}

			a:hover {
				background-size: 4px 50px;
				text-decoration: underline;
			}
		}
	}
}

.about-sect {
	margin-top: 100px;
	display: flex;
	img {
		width: 50%;
		height: 450px;
		border-radius: 10px;
		border: black 2px solid;
		object-fit: cover;
		margin-right: 40px;
	}
	.text {
		width: 700px;
	}
}
.blog-sect {
	margin-top: 100px;
	color: $white;
	text-align: center;
	padding: 50px;
	width: 100vw;
	background-color: $logo-color;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;

	p {
		width: 320px;
		text-align: center;
	}
	img {
		width: 400px;
		mix-blend-mode: darken;
		position: absolute;
	}
	#branch1 {
		right: -100px;
		top: 80px;
		width: 450px;
		rotate: 10deg;
	}
	#branch2 {
		left: -100px;
		top: -50px;
		rotate: 15deg;
	}
	#branch3 {
		left: -100px;
		top: 200px;
	}
	margin-bottom: 50px;
}
.notification-sect {
	display: flex;
	padding-inline: 50px;

	.info {
		flex: 1;
		display: flex;
		align-items: center;
		flex-direction: column;
		gap: 25px;
		h2,
		p {
			text-align: center;
		}
		p {
			font-size: 24px;
			width: 350px;
		}
	}
	form {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 25px;

		input,
		select,
		option {
			width: 100%;
			border-radius: 5px;
			border: black 2px solid;
			padding: 10px;
			display: block;
			box-sizing: border-box;
		}
		label {
			width: 300px;
		}
	}
}
.socials-sect {
	margin-top: 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 0px;
	.socials-row {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		gap: 30px;
		.fb {
			width: 40%;
			height: 300px;
		}
		.ig {
			width: 20%;
			height: 300px;
		}
		img {
			border: 5px solid black;
			box-shadow: 1px 1px 0px 0px black, 2px 2px 0px 0px black, 3px 3px 0px 0px black,
				4px 4px 0px 0px black, 5px 5px 0px 0px black, 6px 6px 0px 0px black;
			object-fit: fill;
			width: 100%;
			height: 100%;
		}
		.icon {
			width: 100px;
			height: 100px;
			background-color: $logo-color;
			border-radius: 10px;
			position: absolute;
			right: 0px;
			top: 0px;
			box-shadow: none;
		}
		.item-container {
			position: relative;
		}
		.item-container:hover {
			animation-name: hvr-pulse-grow;
			animation-duration: 0.3s;
			animation-timing-function: ease-out;
			animation-iteration-count: infinite;
			animation-direction: alternate;
		}
	}
}

@keyframes hvr-pulse-grow {
	100% {
		transform: scale(1.02);
	}
}
@media (max-width: 1400px) {
	.title-sect {
		flex-direction: column;
		justify-content: start;
		height: auto;
		.title h1 {
			font-size: 38px;
		}
		.carousel-bs {
			width: 100%;
		}
	}
	.deals-sect {
		.table-container tr th {
			min-width: 100px;
		}
	}
	.about-sect {
		text-align: center;

		.text {
			width: 100%;
			p {
				font-size: 22px;
			}
		}
	}
	.blog-sect {
		width: 140vw;
		margin-top: 20px;
		.container {
			left: -20%;
			text-align: start;
			min-width: 400px;
			width: 100%;
		}
	}
	.notification-sect {
		flex-direction: column;
		.info p {
			font-size: 22px;
		}
	}
	.socials-sect {
		.socials-row {
			flex-wrap: wrap;
			justify-content: center;
			.ig {
				width: 300px;
			}
			.fb {
				width: 500px;
			}
		}
	}
}
