$logo-color: #a7996b;
$logo-color-dark: #8f8054;
$logo-color-light: #b6a771;
$white: #f1f1ee;
.article-page {
  display: flex;
  justify-content: center;
  min-height: 80vh;

  section {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 100px;
    flex-direction: column;
    width: 60%;
  }
  .back {
    width: 120px;
  }
  .static-title {
    height: 60px;
    padding: 25px 0px;
    display: flex;
    justify-content: space-between;

  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 25px 0px;
  }
  .delete {
    color: hsl(0, 40%, 50%);
    border-color: hsl(0, 40%, 50%);
  }
  .title-input {
    font-size: 32px;
    border-radius: 5px;
    border: $logo-color-dark 1px solid;
  }
}