$logo-color: #a7996b;
$logo-color-dark: #8f8054;
$logo-color-light: #b6a771;
$white: #f1f1ee;

.admin-page { 
	display: flex;
	justify-content: center;
	section {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
	}
	textarea {
		background-color: $logo-color-dark;
		color: $white;
		border: lightgray 1px solid;
		width: 100%;
		height: 70px;
		font-size: 15px;
		display: block;
	}
}

.card.akce {
	label {
		display: block;
		margin-top: 5px;
	}
	.delete-deal {
		background-color: #8b4545;
	}
	h3 {
		margin-top: 10px;
	}
}

.card {
	background-color: $logo-color;
	color: white;
	height: 600px;
	width: 400px;
	border: black 2px solid;
	border-radius: 10px;
	padding: 20px;
	margin-top: 20px;

	button {
		background-color: $logo-color-dark;
		color: $white;
		border-radius: 5px;
		height: 30px;
		margin: 10px;
	}
	img {
		width: 100%;
		height: 300px;
		object-fit: contain;
	}
	.imageSelector {
		cursor: pointer;
		input {
			display: none;
		}
		margin: 10px;
	}
	.desc {
		margin-top: 5px;
		height: 50px;
		display: block;
	}
	input {
		margin-top: 5px;
		font-size: 15px;
		color: $white;
		background-color: $logo-color-dark;
		border: lightgray 1px solid;
	}
	select {
		font-size: 15px;
		color: $white;
		background-color: $logo-color-dark;
		border: lightgray 1px solid;
	}

}

