$logo-color: #a7996b;
$logo-color-dark: #8f8054;
$logo-color-light: #b6a771;
$white: #f1f1ee;
.prodejna-page {
	display: flex;
	justify-content: center;
	min-height: 80vh;
	section {
		width: 60%;
	}

	.name-container {
		border: solid 2px black;
		border-radius: 10px;
		min-height: 100px;
		background-color: $logo-color-light;
		color: white;
	}
	
	.shop-name-container,
	.info-container {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		margin-top: 40px;

		p {
			padding: 10px;
		}
		img {
			width: 700px;
			height: 300px;
			border: solid 2px black;
			border-radius: 10px;
		}
		iframe {
			width: 100%;
			height: 300px;
			border-radius: 10px;
		}
		.opening,
		.map {
			border: solid 2px black;
			border-radius: 10px;
			padding: 10px;
			background-color: $logo-color-light;
			color: white;
		}
		.opening {
			width: 30%;
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.map {
			width: 70%;
		}
		

		.name-container {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}
	}

	table {
		display: flex;
		border-collapse: collapse;
		th,
		td {
			background-color: $logo-color;
			border: $logo-color-dark 1px solid;
			padding: 10px;
			color: white;
		}
		thead tr,
		tbody tr {
			display: inline-flex;
			flex-direction: column;
		}
	}

	button {
		margin-top: 30px;
	}
}
@media (max-width: 1400px) {
	.prodejna-page {
	.info-container {
		flex-direction: column;
		.map,
		.opening {
			width: 100%;
		}
	}}
}